@charset "UTF-8";

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media screen and (max-width: 480px) {
    /* HEADER
  **********************/
    header {
        max-height: -webkit-max-content;
        max-height: -moz-max-content;
        max-height: max-content;
        min-width: 100vw;
        background-size: cover;
    }
    body>main:nth-child(1)>header:nth-child(1)>nav:nth-child(2) {
        /* font-size: 4vw; */
        font-size: 5em;
        max-height: 6vw;
    }
    nav {
        font-size: 2vw;
    }
    /* Ende HEADER
  **********************/
    body>main:nth-child(1)>article:nth-child(2) {
        font-size: 5em;
    }
    box {
        margin: .5em .5em 0 .2em;
        font-size: initial;
    }
    span {
        margin: 0 0 0 .5em;
        font-weight: 555;
    }
    a {
        min-width: 100%;
        padding: .1em;
    }
    #wrapper-bild img {
        /* margin: .5em 0 0 0; */
        max-width: 90vw;
    }
    #wrapper-anschrift,
    #wrapper-oeffnungszeiten,
    #wrapper-angebote {
        -webkit-box-flex: 1;
        flex: 1;
        font-size: inherit;
        margin: .5em .6em 0 .2em;
    }
    div#zeile-strasse,
    div#zeile-plz-ort,
    div#zeile-telefon,
    div#zeile-zeit-montag,
    div#zeile-zeit-dienstag,
    div#zeile-zeit-mittwoch,
    div#zeile-zeit-donnerstag,
    div#zeile-zeit-freitag,
    div#zeile-zeit-sonnabend,
    div#zeile-zeit-sonntag {
        margin: 0 0 0 .5em;
    }
    /* Ende ARTICLE
  **********************/
    #impressum,
    #dse {
        font-size: inherit;
    }
    footer {
        /* font-size: 2.5vw; */
        font-size: 4em;
    }
    #wrapper-standorte {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
    #magdeburg,
    #oschersleben,
    #haldensleben {
        -webkit-box-flex: 1;
        flex: 1;
        margin: inherit;
    }
    #wrapper-infos {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
}