@charset "UTF-8";

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media ( min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    header {
        max-height: -webkit-max-content;
        max-height: -moz-max-content;
        max-height: max-content;
        min-width: 100vw;
    }
    body>main:nth-child(1)>header:nth-child(1)>nav:nth-child(2) {
        font-size: 3vw;
        max-height: 6vw;
    }
    /* Ende HEADER
  **********************/
    /* ARTICLE
  **********************/
    body>main:nth-child(1)>article:nth-child(2) {
        font-size: 2vw;
    }
    footer {
        font-size: 1.2vw;
    }
    box {
        margin: .5em .5em 0 .2em;
        font-size: inherit;
    }
    span {
        margin: 0 0 0 .5em;
        font-weight: 555;
    }
    a {
        min-width: 100%;
        padding: .1em;
    }
    #wrapper-bild {
        -webkit-box-flex: 1;
        flex: 1;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-pack: start;
        justify-content: flex-start;
        max-width: 26em;
        min-width: auto;
    }
    #wrapper-bild img {
        max-width: 48vw;
        /* margin: .5em .3em 0 .5em; */
        min-width: 48vw;
    }
    #wrapper-details {
        -webkit-box-flex: 1;
        flex: auto;
        -webkit-box-pack: space-evenly;
        justify-content: space-evenly;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        flex-wrap: wrap;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
    }
    #wrapper-infos {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
        -webkit-box-flex: 1;
        flex: 1;
        min-width: auto;
        max-width: -webkit-max-content;
        max-width: -moz-max-content;
        max-width: max-content;
        -webkit-box-pack: center;
        justify-content: center;
    }
    #wrapper-anschrift,
    #wrapper-oeffnungszeiten,
    #wrapper-angebote {
        -webkit-box-flex: 1;
        flex: 1;
        font-size: inherit;
        margin: .5em .6em 0 .2em;
    }
    div#zeile-strasse,
    div#zeile-plz-ort,
    div#zeile-telefon,
    div#zeile-zeit-montag,
    div#zeile-zeit-dienstag,
    div#zeile-zeit-mittwoch,
    div#zeile-zeit-donnerstag,
    div#zeile-zeit-freitag,
    div#zeile-zeit-sonnabend,
    div#zeile-zeit-sonntag {
        margin: 0 0 0 .5em;
    }
    /* Ende ARTICLE */
}

#praeambel-1,
#praeambel-2 {
    font-size: 3vw;
}